* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Sans', Tahoma, sans-serif;
    color: white;
}

body{
    background-color: gainsboro;
}

a:hover,
a:active,
a:visited{
    text-decoration: none;
    color: white;
}

header{
    background-color: #234465;
    display: flex;
    height: 140px;
    padding: 1% 3%;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 22px;
}
.left-side{
    display: flex;
    width: 28%;
    margin: 1% 0 1% 0;
}
.left-side div{
    align-self: flex-end;
}
.left-side img{
    width: 70%;
    height: 70%;
    margin-right: 6%;
    align-self: flex-end;
}
.softuni-name h2{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    transform:scale(1.2,1); /* W3C */
    -webkit-transform:scale(1.2,1); /* Safari and Chrome */
    -moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */
}
.softuni-name h1{
    display: inline-block;
    font-weight: 500;
    transform:scale(1.2,1); /* W3C */
    -webkit-transform:scale(1.2,1); /* Safari and Chrome */
    -moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */
}
.softuni-name p{
    font-size: 0.8rem;
    text-transform: lowercase;
    margin: 0 0 0 90%;
}

.right-side{
    clear: both;
    display: blok;
    width: 72%;
    margin: 1% 0;
}
.right-top-side{
    /*display: block;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90% !important;
    height: 40px;
    float: right;
    list-style: none;
    padding: 2% 5% 0 0;
}

input[type="text"] {
    width: 200px;
    height: 26px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
    padding: 5px;
}

#search{
    background: url("resources/search.jpg") center;
    width: 26px;
    height: 26px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 0;
}

#bell{
    top:4px;
}

#notification-icon {
    width: 20px;
    height: 20px;
    background: url('resources/bell.jpg') no-repeat;
    vertical-align: middle;
    margin: 0 10px 0 0;
    display: inline-block;
}

/*------------ RIGHT BOTTOM ------------------*/
.right-bottom-side{
    display: block;
    width: 90% !important;
    float: right;
    list-style: none;
    padding: 2.5% 1% 0 1%;
}
.right-bottom-side ul{
    width: 100%;
    list-style: none;
}

.right-bottom-side li{

    display: block;
    float: left;
    position: relative;
    transform:scale(1.2,1); /* W3C */
    -webkit-transform:scale(1.2,1); /* Safari and Chrome */
    -moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */
    margin: 0 3%;
}

.right-bottom-side li a{
    text-decoration: none;
    display: block;
}

.right-bottom-side ul li ul {
    padding: 0;
    position: absolute;
    display: none;
    visibility: hidden;
    float: left;
    position: absolute;
}

/*.right-bottom-side ul li:hover > ul,
.right-bottom-side ul li ul:hover {
    visibility: visible;
}

.right-bottom-side ul li ul li {
    border: solid 1px red;
    background-color: #234465;
    border-bottom: 1px solid #575f6a;
    padding: 5px 0 5px 10px;
    clear: both;
    width: 100%;
    transform:scale(1,1);  W3C 
    -webkit-transform:scale(1,1);  Safari and Chrome 
    -moz-transform:scale(1,1);  Firefox 
    -ms-transform:scale(1,1);  IE 9 
    -o-transform:scale(1,1);  Opera 
}

---------------
#arrow{
    position: relative;
    top:-4px;
}*/